@import "colors-catppuccin-mocha.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Semi-Bold";
    padding: 0;
    margin: 0;
    min-width: 10px;
}

window#waybar {
    background-color: alpha(@bg8, 0.8);
    box-shadow: 0 10px rgba(0, 0, 0, 0.22);
}

tooltip {
    background: transparent;
    border: 1px solid @mauve;
    border-radius: 12px;
}

tooltip label {
  color: @fg;
}

#workspaces {
  min-width: 0;
  margin: 30px;
  transition: all 0.3s ease-in-out;
}

#workspaces button {
  color: transparent;
  background: linear-gradient(180deg, @overlay1 0%, @bg 100%);

  transition: all 0.3s ease-in-out;
  min-width: 0;
  margin: 5px 0;
  border-radius: 3px;
}

#workspaces button.active {
  background: linear-gradient(180deg, @lavender 0%, @mauve 100%);
  color: transparent;
  border-radius: 9999px;
  min-height: 80px;
}

#workspaces button:hover {
  background: linear-gradient(180deg, @lavender 0%, @mauve 100%);
  color: transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background: linear-gradient(180deg, @red 0%, @peach 100%);
  color: transparent;
  transition: all 0.3s ease-in-out;
}

#tray,
#network,
#pulseaudio {
  margin: 10px;
  font-size: 15px;
}

#pulseaudio-slider slider {
  border-radius: 2px;
}

#pulseaudio-slider trough {
  min-height: 150px;
  min-width: 5px;
}

#pulseaudio-slider highlight {
  border-radius: 5px;
}

.misc-modules {
  color: @mauve;
  font-size: 15px;
  margin: 5px;
}

#custom-seperator {
  margin-top: 5px;
  font-size: 20px;
}

#clock {
  color: @mauve;
  font-family: "GohuFont 11 Nerd Font Medium";
  font-weight: 600;
  font-size: 28px;
  margin: 15px 5px 0 5px;
}

#pulseaudio {
  color: @mauve;
}

#network {
  color: @green;
}
